<section class="advantages">
    <div class="container">
        <h2 class="advantages__title visually-hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__list-item advantages__list-text-program">
                <span class="advantages__list-text ">Adapted author's UPE program</span>
                </li>
            <li class="advantages__list-item advantages__list-text-method">
                <span class="advantages__list-text ">Modern teaching methods</span>
            </li>
            <li class="advantages__list-item advantages__list-text-guarantee">
                <span class="advantages__list-text">Financial guarantee the result</span>
            </li>
        </ul>
    </div>
</section>
