<section class="contacts contacts__section contacts__overlay">
<!-- <a name="contacts"></a> -->
    <div class="container">
        <h2 class="contacts__title">Registration for a <span class="contacts__title_accent">free</span> phone <span class="contacts__title_accent">consultation</span> on the nuances of English UPE</h2>
        <p class="contacts__text">Leave a request for participation in a <span class="contacts__text_accent">free lesson</span>. <br>
            A consultant will contact you and answer your questions</p>
        <form class="request">
            <label for="request-name" class=""></label>
            <input type="name" class="request__input request__phone" placeholder="Name*" name="request-name" id="request-name" minlength="2"
                required>
            <label for="request-phone" class=""></label>
            <input type="phone" class="request__input" required placeholder="Phone*" name="request-phone" id="request-phone"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="050-111-11-11">
            <button class="btn contacts__btn" type="submit">i want a free lesson</button>
        </form>
    </div>

</section>

