<footer class="footer__section" id="contacts">
  <div class="footer container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <a href="./index.html" class="logo animate__pulse">
          <div class="header__logo-up">
            Hell<svg class="logo__icon">
              <use href="./images/svg/sprite.svg#icon-fire"></use></svg>EN
          </div>
          <div class="header__logo-down">
            <span class="header__logo-accent">HELLISH</span> english
          </div>
        </a>
      </div>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="tel:+380961111111" class="footer__link">
            <svg class="footer__icon animate__swing">
              <use href="./images/svg/sprite.svg#icon-telephone"></use></svg>+38 (000) 000 00 0
          </a>
        </li>
        <li class="footer__item">
          <a
            class="footer__instagram"
            href="https://www.instagram.com/?hl=ru"
            target="_blank"
            rel="nofollow norefferer"
            aria-label="instagram-link"
          >
            <div class="footer__instagram-wrapper"></div>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright">&#169; All rights reserved, 2019</div>
  </div>
</footer>
