
 <footer class="footer">
    <div class="footer_conteiner">
        <div class="page__footer__adres">
            <a href="#" class="logo">
                <div class="header__logo-up">
                    Hell<svg class="logo__icon">
                    <use href="./images/svg/sprite.svg#icon-fire"></use>
                    </svg>EN
                </div>
                <div class="header__logo-down">
                    <span class="header__logo-accent">HELLISH</span> english
                </div>
            </a>
        </div>
        <div class="footer__social__list__conteiner">
            <ul class="contact_footer">
                <li><a class="footer__contact__linc" href="tel:+380961111111"><svg class="footer__icon" width="30"
                            height="29">
                           <use href="./images/svg/sprite.svg#icon-telephone"></use>
                        </svg>+38 (000) 000 00 00</a></li>
                <li class="vl"></li>
                <li><img class="footer_media" src="./images/footer/instagram.png" alt="instagram"></li>
            </ul>
        </div>
    </div>
    <div class="foter_gmail-section">
        <a class="footer__gmail__link" href="mailto:info@devstudio.com" lang="en"> @ All rights reserved, 2019
        </a>
    </div>
</footer>