<footer class="footer__section">
  <div class="footer container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <a href="#" class="logo">
          <div class="header__logo-up">
            Hell<svg class="logo__icon">
              <use href="./images/svg/sprite.svg#icon-fire"></use></svg
            >EN
          </div>
          <div class="header__logo-down">
            <span class="header__logo-accent">HELLISH</span> english
          </div>
        </a>
      </div>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="tel:+380961111111" class="footer__link">
            <svg class="footer__icon">
              <use href="./images/svg/sprite.svg#icon-telephone"></use></svg
            >+38 (000) 000 00 0
          </a>
        </li>
        <li class="footer__item">
          <a
            class="footer__instagram"
            href="https://www.instagram.com/?hl=ru"
            target="_blank"
            nofollow
            norefferer
          >
            <!-- <picture>
              <source
                srcset="./images/footer/instagram.webp 1x, ./images/footer/instagram@2x.webp 2x"
                type="image/webp"
              />
              <source srcset="./images/footer/instagram.png 1x, ./images/footer/instagram.png 2x" />
              <img src="#" alt="instagram" />
            </picture> -->
            <div class="footer__instagram-wrapper"></div>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright">
      <a class="footer__copyright_link" href="mailto:info@devstudio.com" lang="en">
        @ All rights reserved, 2019
      </a>
    </div>
  </div>
</footer>
