<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <a href="#" class="logo"
        ><div class="header__logo-up">
          Hell<svg class="logo__icon">
            <use href="./images/svg/sprite.svg#icon-fire"></use></svg
          >EN
        </div>
        <div class="header__logo-down">
          <span class="header__logo-accent">HELLISH</span> english
        </div></a
      >
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <!-- Не забыть поставить якоря для заголовков секций -->
        <li class="header__nav-item">
          <a href="#studying-program" class="header__nav-link">studying program</a>
        </li>
        <li class="header__nav-item"><a href="#about" class="header__nav-link">about</a></li>
        <li class="header__nav-item">
          <a href="#training-options" class="header__nav-link">training options</a>
        </li>
        <li class="header__nav-item"><a href="#contacts" class="header__nav-link">contacts</a></li>
      </ul>
    </nav>
    <div class="header__buttons-wrapper">
      <button class="header__consult-button" type="button">consultation by phone</button>
      <button class="hamburger hamburger--collapse is-active" type="button" data-menu-button>
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <div class="mobile-menu" data-menu>
      <div class="mobile-menu__container container">
        <div class="mobile-menu__logo">
          <a href="#" class="logo"
            ><div class="header__logo-up-mobile">
              Hell<svg class="logo__icon">
                <use href="./images/svg/sprite.svg#icon-fire"></use></svg
              >EN
            </div>
            <div class="header__logo-down-mobile">
              <span class="header__logo-accent">HELLISH</span> english
            </div></a
          >
        </div>
        <button
          class="hamburger hamburger--collapse is-active mobile-menu__button"
          type="button"
          data-menu-close
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="mobile-menu__thumb">
          <ul class="mobile-menu__nav">
            <!-- Не забыть поставить якоря для заголовков секций -->
            <li class="mobile-menu__item">
              <a href="#studying-program" class="mobile-menu__link">Studying program</a>
            </li>
            <li class="mobile-menu__item"><a href="#about" class="mobile-menu__link">About</a></li>
            <li class="mobile-menu__item">
              <a href="#training-options" class="mobile-menu__link">Training options</a>
            </li>
            <li class="mobile-menu__item">
              <a href="#contacts" class="mobile-menu__link">Contacts</a>
            </li>
          </ul>
        </div>
        <button class="mobile-menu__consult-button" type="button">consultation by phone</button>
      </div>
    </div>
  </div>
</header>
