
<section class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <h1 class="hero__title title">Complex preparation for English UPE</h1>
            <p class="hero__content-first-slogan">It won’t be easy.</p>
            <p class="hero__content-second-slogan">But you are guaranteed to get <span
                    class="hero__content-slogan-accent-part">+25 points</span></p>
            <button type="button" class="hero__btn btn">i want a free lesson</button>
        </div>
        <div class="hero__picture">
            <picture>
                <source srcset="./images/hero/hero-img-mobile.webp 1x, ./images/hero/hero-img-mobile@2x.webp 2x"
                    media="(max-width: 767px)" type="image/webp">
                <source srcset="./images/hero/hero-img-mobile.png 1x, ./images/hero/hero-img-mobile@2x.png 2x"
                    media="(max-width: 767px)">
                <source srcset="./images/hero/hero-img-tablet.webp 1x, ./images/hero/hero-img-tablet@2x.webp 2x"
                    media="(max-width: 1365px)" type="image/webp">
                <source srcset="./images/hero/hero-img-tablet.png 1x, ./images/hero/hero-img-tablet@2x.png 2x"
                    media="(max-width: 1365px)">
                    <!-- <source srcset="./images/hero/hero-bcgr-desktop.webp 1x, ./images/hero/hero-img-desktop@2x.webp 2x"
                        media="(min-width: 1366px)" type="image/webp"> -->
                    <!-- <source srcset="./images/hero/Group.png 1x, ./images/hero/Group@2x.png 2x"
                        media="(min-width: 1366px)"> -->
                <source srcset="./images/hero/hero-img-desktop.webp 1x, ./images/hero/hero-img-desktop@2x.webp 2x"
                    media="(min-width: 1366px)" type="image/webp">
                <source srcset="./images/hero/hero-img-desktop.png 1x, ./images/hero/hero-img-desktop@2x.png 2x"
                    media="(min-width: 1366px)">
                <img class="hero__image" src="./images/hero/hero-img-mobile.png" alt="peoples on the lesson">

            </picture>            
        </div>        

    </div>    
</section>
