<section class="program">
<h2 class="program__heading">Our program</h2>
<ul class="program__list">
  <li class="program__item">
    <h3 class="program__title">1 semester</h3>
    <ul class="option">
      <li class="option__item">
        <h4 class="option__title">Grammar</h4>
        <p class="option__text">Nouns & Articles</p>
        <p class="option__text">Adjectives & Adverb</p>
      </li>
      <li class="option__item">
        <h4 class="option__title">Vocabulary</h4>
        <p class="option__text">Family & Relations</p>
        <p class="option__text">People & Society</p>
      </li>
    </ul>
  </li>
  <li class="program__item">
    <h3 class="program__title">2 semester</h3>
    <ul class="option">
      <li class="option__item">
        <h4 class="option__title">Grammar</h4>
        <p class="option__text">Pronouns</p>
        <p class="option__text">Active Voice</p>
        <p class="option__text">Passive Voice</p>
      </li>
      <li class="option__item">
        <h4 class="option__title">Vocabulary</h4>
        <p class="option__text">Home</p>
        <p class="option__text">School</p>
        <p class="option__text">Work</p>
      </li>
    </ul>
  </li>
  <li class="program__item">
    <h3 class="program__title">3 semester</h3>
    <ul class="option">
      <li class="option__item">
        <h4 class="option__title">Grammar</h4>
        <p class="option__text">Modal verbs</p>
        <p class="option__text">Infinitive</p>
        <p class="option__text">Gerund</p>
        <p class="option__text">Participle: 1, 2</p>
      </li>
      <li class="option__item">
        <h4 class="option__title">Vocabulary</h4>
        <p class="option__text">Travel & Tourism</p>
        <p class="option__text">Culture & Free Time</p>
        <p class="option__text">Sport</p>
      </li>
      <li class="option__item">
        <h4 class="option__title">Writing</h4>
        <p class="option__text">Informal Letter</p>
      </li>
    </ul>
  </li>
  <li class="program__item">
    <h3 class="program__title">4 semester</h3>
    <ul class="option">
      <li class="option__item">
        <h4 class="option__title">Grammar</h4>
        <p class="option__text">Clauses: Conditional and Wishes</p>
        <p class="option__text">Direct / Reported speech</p>
        <p class="option__text">Preposition</p>
        <p class="option__text">Conjunction</p>
        <p class="option__text">Numeral</p>
      </li>
      <li class="option__item">
        <h4 class="option__title">Vocabulary</h4>
        <p class="option__text">Healthy Living</p>
        <p class="option__text">Nature & Environment</p>
        <p class="option__text">Money</p>
      </li>
      <li class="option__item">
        <h4 class="option__title">Writing</h4>
        <p class="option__text">Formal Letter</p>
      </li>
    </ul>
  </li>
  <li class="program__item">
    <h3 class="program__title">5 semester</h3>
    <ul class="option">
      <li class="option__item">
        <p class="option__text">Revision</p>
        <p class="option__text">Tests</p>
      </li>
    </ul>
  </li>
</ul>
</section>