.btn {
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
  border: 2px solid var(--primary-accent-color);

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  cursor: pointer;

  padding-top: 14px;
  padding-bottom: 14px;

  &-invert {
    color: var(--primary-accent-color);
    background-color: transparent;

    padding-top: 16px;
    padding-bottom: 16px;
  }
}

// 1366+
@media screen and (min-width: 1366px) {
  .btn {
    font-size: 14px;
    line-height: 1.21;

    padding-top: 26px;
    padding-bottom: 26px;

    &-invert {
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }
}
