.section {
}
.container {
}
.teacher {

		// .teacher__title

		&__title {
            margin-bottom: 20px;

            @media screen and (min-width: 768px) {
                margin-bottom: 30px;
            }
             @media screen and (min-width: 1366px) {
                margin-bottom: 50px;
            }
		}

		// .teacher__image-container

		&__image-container {
            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
		}

		// .teacher__foto

		&__foto {
		}

		// .teacher__description-container

		&__description-container {
		}

		// .teacher__name

		&__name {
            margin-bottom: 30px;
            color: var(--secondary-text-color);

            font-weight: var(--fw-extra-bold);
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.08em;

            @media screen and (min-width: 1366px) {
            margin-bottom: 45px;
            font-size: 30px;
            }
		}
        &__name::after{
            content: '';
            display: block;
            width: 280px;
            height: 1px;
            background-color: var(--primary-text-color);

            @media screen and (min-width: 768px) {
                width: 401px;
            }
             @media screen and (min-width: 1366px) {
                width: 700px;
            }
        }


		// .teacher__list

		&__list {
		}

		// .teacher__item

		&__item {
            margin-bottom: 20px;
            color: var(--secondary-text-color);

            font-weight: var(--fw-semi-bold);
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.06em;

            @media screen and (min-width: 1366px) {
            margin-bottom: 25px;
            }
		}

        // &__item::before {
        //     content: "";
        //     display: block;
        //     width: 24px;
        //     height: 24px;
        //     margin-right: 9px;
        //     background-image: url("../images/svg/check.svg");
        // }

        &__item:last-child {
            margin-bottom: 0;
        }
}
.teacher-about {

		// .teacher-about__list

		&__list {
            margin-bottom: 10px;
            @media screen and (min-width: 1366px) {
             margin-bottom: 15px;
            }
		}

		// .teacher-about__item

		&__item {
            color: var(--primary-text-color);

            font-weight: var(--fw-medium);
            font-size: 12px;
            line-height: 2.1;
            letter-spacing: 0.01em;
		}
}
.teacher-certificate {

		// .teacher-certificate__link

		&__link {
            color: var(--primary-accent-color);

            font-weight: var(--fw-medium);
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: 0.01em;
            text-decoration-line: underline;

            @media screen and (min-width: 1366px) {
            font-size: 18px;
            line-height: 1.56;
            }
		}
}
