.benefits {
  background-image: linear-gradient(
    to bottom,
    var(--secondary-text-color) 68%,
    var(--primary-background-color) 68%
  );
  padding-top: 0;

  @media screen and (min-width: 768px) {
    & {
      background-image: linear-gradient(
        to bottom,
        var(--secondary-text-color) 50%,
        var(--primary-background-color) 50%
      );
      padding-top: 87px;
    }
  }

  @media screen and (min-width: 1366px) {
    & {
      padding-top: 82px;
      padding-bottom: 65px;
    }
  }
}

.benefits__title {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    & {
      text-align: center;
      margin-bottom: 60px;
      // нижний маржин подобран, в макете сьехал текст
    }
  }

  @media screen and (max-width: 767px) {
    & {
      width: 180px;
      line-height: 1.35;
    }
  }

  @media screen and (min-width: 1366px) {
    & {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;

      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}

.benefits__list-wrapper {
  position: relative;
  z-index: 10;
  background-color: var(--primary-background-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: 768px) {
    & {
      width: 688px;
    }
  }

  @media screen and (min-width: 1366px) {
    & {
      width: 1314px;
    }
  }
}

.benefits__list {
  counter-reset: section;
  list-style-type: none;
  color: var(--secondary-text-color);
  padding: 53px 14px 20px 30px;

  @media screen and (min-width: 480px) {
    & {
      width: 440px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
      justify-content: space-between;
      width: 688px;
      padding: 39px 96px 40px 96px;
    }
  }

  @media screen and (min-width: 1366px) {
    & {
      width: 1314px;
      padding: 70px 82px 70px 82px;
      margin-top: -40px;
      margin-left: -40px;
    }
  }
}

.benefits__item {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 69px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin-top: 30px;
      margin-left: 30px;
      line-height: 28px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1366px) {
    & {
      flex-basis: calc((100% - 3 * 40px) / 3);
      margin-top: 40px;
      margin-left: 40px;
      font-size: 20px;
      line-height: 1.4;
    }

    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
}

.benefits__item::before {
  position: absolute;
  top: -33px;
  left: 29px;
  counter-increment: section;
  content: '0' counters(section, '.') ' ';
  color: var(--primary-accent-color);
}

.benefits__item::after {
  position: absolute;
  top: -23px;
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--primary-accent-color);
}
