.footer {
  max-width: 1680px;
  max-height: 220px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}
.page__footer__adres {
  min-width: 128px;
  min-height: 45px;
  margin-right: 220px;
  margin-left: 185px;
  margin-bottom: 0;
}
.vl {
  width: 0px;
  height: 40px;
  display: flex;
  border: 1px solid #b9b9b9;
}
.contact_footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}
.foter_gmail-section {
  width: 1680px;
  height: 70px;
  background: #111518;
  display: flex;
  align-items: center;
}
.footer_conteiner {
  display: flex;
  align-items: baseline;
}
.footer__contact__linc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  margin-right: 10px;
}
.footer__gmail__link {
  width: 306px;
  height: 27px;
  left: 183px;
  top: 7907px;
  margin-left: 180px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #b9b9b9;
}
.footer__icon {
  width: 24px;
  height: 23px;
  margin-right: 10px;
}
.footer_media {
  margin-left: 10px;
}
@media screen and(max-width:1365px) {
  .footer {
    max-width: 768px;
    max-height: 195px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    letter-spacing: 0.03em;
    background-color: #ffffff;
  }
  .footer__contact__linc {
    width: 280px;
    height: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #111518;
    flex-wrap: nowrap;
  }
  .contact_footer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: baseline;
  }
  .footer__icon {
    width: 24px;
    height: 23px;
    margin-right: 10px;
  }
  .page__footer__adres {
    min-width: 128px;
    min-height: 45px;
    margin-right: 200px;
    margin-left: 40px;
    margin-bottom: 0;
  }
  .footer_media {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .foter_gmail-section {
    width: 768px;
    height: 70px;
    background: #111518;
    display: flex;
    align-items: center;
  }
  .vl {
    width: 0px;
    border: 1px solid #b9b9b9;
  }
  .footer__social__list__conteiner {
    flex-wrap: nowrap;
  }
  .footer__gmail__link {
    width: 306px;
    height: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }
}
@media screen and(max-width:759px) {
}
