.guarantee {
  font-weight: var(--fw-medium);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;

  color: #3d3d3d;
  background: linear-gradient(#ffffff 12%, #f1f1f1 12%, #f1f1f1 88%);

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__acent-color {
    color: var(--primary-accent-color);
  }

  &__list {
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 8px;
  }

  &__item {
    padding-left: 28px;
  }

  &__item:not(:last-child) {
    padding-bottom: 34px;

    // margin-bottom: 35px;
    border-left: 1px dashed #b9b9b9;
  }
}
