.hero {
  padding-top: 50px;
  padding-bottom: 74px;
  background-image: url(../images/hero/hero-bcgr-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom -32px left 0;
  background-size: cover;
  box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  background-color: var(--primary-background-color);

  @media screen and (min-width: 768px) {
    & {
      padding-top: 70px;
      padding-bottom: 45px;
      background-image: url(../images/hero/hero-bcgr-tablet.png);
    }
  }

  @media screen and (min-width: 1366px) {
    & {
      padding-top: 50px;
      padding-bottom: 20px;
      background-image: url(../images/hero/hero-bcgr-desktop.png);
    }
  }
}

.hero__container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.hero__title {
  margin-bottom: 8px;

  @media screen and (min-width: 1366px) {
    & {
      font-size: 58px;
    }
  }
}

.hero__content-first-slogan {
  font-family: Montserrat;
  font-weight: var(--fw-medium);
  font-size: 14px;
  line-height: 1.57;
  align-items: center;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-text-color);

  @media screen and (min-width: 1366px) {
    & {
      font-size: 20px;
    }
  }
}

.hero__content-second-slogan {
  font-weight: var(--fw-bold);
  font-size: 14px;
  line-height: 1.57;
  align-items: center;
  letter-spacing: var(--letter-spacing);
  color: var(--secondary-text-color);
  margin-bottom: 52px;

  @media screen and (min-width: 768px) and (max-width: 1365px) {
    & {
      width: 287px;
    }
  }

  @media screen and (min-width: 1366px) {
    & {
      font-size: 20px;
    }
  }
}

.hero__content-slogan-accent-part {
  color: var(--primary-accent-color);
}

.hero__btn {
  display: block;

  @media screen and (max-width: 479px) {
    & {
      width: fit-content;
    }
  }

  @media screen and (max-width: 767px) {
    & {
      padding-right: 45px;
      padding-left: 45px;
    }
  }

  @media screen and (max-width: 767px) {
    & {
      margin: 0 auto;
    }
  }
}

.hero__content {
  @media screen and (max-width: 767px) {
    margin-bottom: 55px;
  }

  @media screen and (min-width: 768px) {
    & {
      width: 332px;
    }
  }

  @media screen and (min-width: 1366px) {
    & {
      width: 601px;
    }
  }
}

.hero__picture {
  @media screen and (min-width: 768px) {
    margin-right: -30px;
  }

  @media screen and (min-width: 1366px) {
    & {
      margin-top: -53px;
    }
  }
}

.hero__image {
  width: 100%;
  margin: 0 auto;
}
