.how-we-do {
  @media screen and(min-width:1366px) {
    padding-top: 65px;
    padding-bottom: 130px;
  }
  // TITLE
  &__title {
    margin-bottom: 30px;

    @media screen and (min-width: 1366px) {
      margin-bottom: 62px;
    }
    @media screen and (max-width: 1365px) {
      text-align: center;
    }
  }
  // LIST
  &__list {
    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
    }
  }
  // ITEM
  &__item {
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 767px) {
      max-width: 280px;
      margin: 0 auto;
    }
    @media screen and(max-width:767px) {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media screen and(min-width:768px) {
      margin: 10px;
      flex-basis: calc((100% - 40px) / 2);
      &:nth-child(4) .how-we-do__text-wrapper {
        padding: 0px 72px;
      }
    }
    @media screen and(min-width:1366px) {
      max-height: 396px;
      flex-basis: calc((100% - 60px) / 3);
      &:nth-child(4) .how-we-do__text-wrapper {
        padding: 0 85px;
      }
    }
  }

  // LINK
  &__link {
    display: block;
    height: 100%;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
      background-color: var(--primary-accent-color);
    }
  }
  // ICON
  &__icon {
    fill: var(--primary-accent-color);
    transition: fill var(--transition-duration) var(--transition-timing-function),
      background-color var(--transition-duration) var(--transition-timing-function);

    .how-we-do__link:hover &,
    .how-we-do__link:focus & {
      fill: var(--primary-background-color);
    }
  }
  // CARD-TITLE
  &__card-title {
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
    transition: color var(--transition-timing-function) var(--transition-duration);

    .how-we-do__link:hover &,
    .how-we-do__link:focus & {
      color: var(--primary-background-color);
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1366px) {
      margin-bottom: 45px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
  // CARD-TEXT
  &__card-text {
    position: relative;
    font-size: 12px;
    text-align: center;
    line-height: 1.67;
    color: var(--primary-text-color);
    transition: color var(--transition-duration) var(--transition-timing-function);

    .how-we-do__link:hover &,
    .how-we-do__link:focus & {
      color: var(--primary-background-color);
    }

    &::before {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background-color: var(--primary-accent-color);
      transition: background-color var(--transition-duration) var(--transition-timing-function);

      .how-we-do__link:hover &,
      .how-we-do__link:focus & {
        background-color: var(--primary-background-color);
      }
    }

    @media screen and (min-width: 1366px) {
      font-size: 18px;
      line-height: 1.56;
    }
  }
  // TEXT-WRAPPER
  &__text-wrapper {
    text-align: center;
    letter-spacing: var(--letter-spacing);
    padding: 0 10px 32px;

    @media screen and(min-width:768px) {
      padding: 0 37px 51px;
    }

    @media screen and(min-width:1366px) {
      padding: 0 39px 35px;
    }
  }
  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    @media screen and(min-width:768px) {
      height: 125px;
    }

    @media screen and(min-width:1366px) {
      height: 120px;
    }
  }
}
