.program {
  background-color: var(--third-background-color);
  padding-top: 50px;
  padding-bottom: 0;
  position: relative;

  & {
    @media screen and (min-width: 1366px) {
      padding-bottom: 82px;
    }
  }

  & {
    @media screen and (min-width: 1366px) {
      padding-bottom: 113px;
    }
  }

  &__line {
    //1366px
    @media screen and (min-width: 1366px) {
      width: 100%;
      height: 1px;
      background-color: white;
      position: absolute;
      top: 277px;
    }
  }
  &__pad {
    //1366px
    @media screen and (min-width: 1366px) {
      padding-left: 184px;
    }
  }

  &__heading {
    color: var(--third-text-color);
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 43px;


    //768px
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 34px;
      text-align: left;
    }

    //1366px
    @media screen and (min-width: 1366px) {
      font-size: 46px;
      line-height: 60px;
      padding-top: 70px;
      margin-bottom: 150px;
    }
  }

  &__list {
    width: 174px;
    margin-left: 75px;
    margin-right: auto;

    //768px
    @media screen and (min-width: 768px) {
      //margin-left: 97px;
      width: 100%;
      padding-left: 57px;
      margin: 0 auto;
    }

    //1366px
    @media screen and (min-width: 1366px) {
      display: flex;
      padding-left: 0;
    }
  }
  &__list::after {
    content: '';
    display: block;
    background-image: url('../images/program/program-mobile.webp');
    width: 120px;
    height: 137px;
    position: absolute;
    right: 0;
    bottom: -47px;

    //768px
    @media screen and (min-width: 768px) {
      background-image: url('../images/program/program-tablet.webp');
      width: 384px;
      height: 280px;
    }

    //1366px
    @media screen and (min-width: 1366px) {
      background-image: url('../images/program/program-desktop.webp');
      width: 663px;
      height: 502px;
      left: -10px;
      bottom: -164px;
      // opacity: 0.5;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  &__item {
    border-left: 1px solid white;

    //768px
    @media screen and (min-width: 768px) {
      padding-left: 50px;
    }

    //1366px
    @media screen and (min-width: 1366px) {
      width: 240px;
      position: relative;
      border: none;
      padding-left: 0;
    }
  }
  &__item:first-of-type h3 {
    line-height: 0;
    @media screen and (min-width: 1366px) {
      line-height: 28px;
    }
  }
  &__item:first-of-type ul {
    padding-top: 6px;
  }
  &__item:last-of-type h3 {
    line-height: 0;
    @media screen and (min-width: 1366px) {
      line-height: 28px;
    }
  }
  &__item:last-child {
    border-left: 1px solid transparent;
  }
  //&__item:last-of-type::after{
  //  content:"";
  //  display: block;
  //  background-image: url("../images/program/program-mobile.png");
  //  width: 120px;
  //  height: 137px;
  //  position: absolute;
  //}

  &__title {
    color: var(--third-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 5px;

    //768px
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    //1366px
    @media screen and (min-width: 1366px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__title::before {
    content: '';
    background-color: var(--primary-accent-color);
    border-radius: 50%;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 16.5px;
    margin-left: -7px;

    //768px
    @media screen and (min-width: 768px) {
      margin-right: 42.5px;
      margin-left: -56px;
    }

    //1366px
    @media screen and (min-width: 1366px) {
      width: 16px;
      height: 16px;
      position: absolute;
      top: -60px;
      margin-right: 16.5px;
      margin-left: -7px;
    }
  }
}

.option {
  padding-left: 20px;
  padding-bottom: 40px;

  //768px
  @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 30px;
    padding-left: 0;
  }

  //1366px
  @media screen and (min-width: 1366px) {
    flex-direction: column;
    padding-left: 0;
  }

  &__title {
    color: var(--primary-accent-color);
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    margin-bottom: 5px;

    //768px

    //1366px
    @media screen and (min-width: 1366px) {
      font-size: 20px;
      line-height: 33px;
    }
  }

  &__text {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    opacity: 0.5;

    //768px

    //1366px
    @media screen and (min-width: 1366px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__item {
    margin-bottom: 8px;
    width: 156px;

    &:not(:last-child) {
      //768px
      @media screen and (min-width: 768px) {
        margin-right: 50px;
      }
      //1366px
      @media screen and (min-width: 1366px) {
        margin-right: 0;
        width: 240px;
      }
    }
    &:first-child {
      width: 176px;
    }
  }
}
